body{

background:#0f172a;

margin:0;

font-family:Arial,sans-serif;

}

.container{

width:700px;

margin:50px auto;

background:white;

padding:40px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.3);

}

.card{

background:#f1f5f9;

padding:20px;

border-radius:10px;

margin-bottom:30px;

}

.buttons{

display:flex;

justify-content:center;

gap:20px;

margin-bottom:30px;

}

button{

padding:15px 30px;

border:none;

background:#2563eb;

color:white;

font-size:18px;

cursor:pointer;

border-radius:8px;

transition:.3s;

}

button:hover{

background:#1d4ed8;

transform:scale(1.05);

}

h1{

color:#1e293b;

}

h2{

color:#dc2626;

}